body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    background-color: #172027;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 80px;
    width: 100%;
    z-index: 1;
    padding: 0px;
    margin-top: -10px;
    margin-left: -8px;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    top 0;  
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23.97pt;
    color: black;
    display: block;
    transition: 0.3s;
    opacity: .8;
}

.close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 300px;
    margin-left: 50px;
}

navBar {
    margin: auto;
}

#burger {
    z-index: 1;
    padding: 20px;
}

h1 {
    font-size: 30pt;
}

main {
    overflow: hidden;
    height: auto;
    margin: auto;
    max-width: 1400px;
    padding: 0px;
    padding-top: 0px;
}

div {
    margin: auto;
}

#toprow {
    margin-top: 80px;
}

#clock {
    float: left;
    background-color: #FFFFFF;
    padding: 0;
    width: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#time {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 20px;
    font-size: 180px;
    opacity: .9;
    text-align: center;
}

#cal {
    font-weight: 400;
    padding-left: 140px;
    font-size: 30px;
    margin-left: 20px;
}

#calendar {
    float: right;
    background-color: #FFFFFF;
    margin-left: 850px;
    height: 277px;
    margin-top: -275px;
    width: 500px;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#header {
    font-weight: 400;
}

#2ndrow {
    margin-top: 100px;
}

#weather {
    float: left;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 0px;
    margin-top: 50px;
    height: 277px;
    width: 500px;
}

.right {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}

.location {
    margin-left: 0px;
    margin-top: 45px;
    opacity: .9;
    font-weight: 600;
    font-size: 15pt;
}

#state {
    display: inline;
    margin-top: 0px;
    font-weight: 100;
}

.mmTemp {
    margin-left: 20px;
    font-size: 15pt;
}

.temp {
    opacity: .9;
    font-size: 70pt;
    font-weight: 600;
}

.humidity {
    float: left;
    font-size: 12pt;
    margin-top: 200px;
    margin-left: 120px;
}

.left {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.info {
    opacity: .9;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15pt;
    margin-top: 5px;
    margin-left: 50px;
}

#loc {
    opacity: .6;
    margin-top: 35px;
    float: left;
    display: inline;
    margin-left: -40px;
}

#3rdrow {
    margin-top: 800px;
}

#destination {
    float: left;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 00px;
    margin-top: 60px;
    height: 177px;
    width: 500px;
}

#duration {
    font-size: 20pt;
    font-weight: 800;
    margin-left: 210px;
}

#desthead {
    margin-left: 70px;
    font-size: 20pt;
}

#car {
    margin-top: -20px;
    margin-left: 10px;
    opacity: .8;
}

#bar {
    display: flex;
    margin-left: 60px;
    margin-top: -30px;
}

#user {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 600px;
    margin-top: 20px;
    height: 177px;
    width: 180px;
}

#name {
    font-size: 30px;
    font-weight: 600;
    padding-top: 0px;
    margin-top: 20px;
    padding-left: 60px;
    display: block;
}

.usr {
    width: 110px;
    height: 110px;
    padding-top: 5px;
    padding-left: 40px;
}
#notes{
    float: right;
    background-color: #FFFFFF;
    margin-left: 850px;
    height: 277px;
    margin-top: -275px;
    width: 500px;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#uber{
    float: right;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 00px;
    margin-top: 60px;
    height: 177px;
    width: 500px;
}
.uberhead{
    text-align: center;
}
.uberdescription{
    padding-top: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 15pt;
}